
<p>
  <strong>Licensenumber:</strong>
  <%= @insurance_detail.licensenumber %>
</p>

<p>
  <strong>Licenseheld:</strong>
  <%= @insurance_detail.licenseheld %>
</p>

<p>
  <strong>Penaltypoint:</strong>
  <%= @insurance_detail.penaltypoint %>
</p>

<p>
  <strong>Dateofpenalty:</strong>
  <%= @insurance_detail.dateofpenalty %>
</p>

<p>
  <strong>Freeclaim:</strong>
  <%= @insurance_detail.freeclaim %>
</p>

<p>
  <strong>Recentclaim:</strong>
  <%= @insurance_detail.recentclaim %>
</p>

<p>
  <strong>Claimdate:</strong>
  <%= @insurance_detail.claimdate %>
</p>

<p>
  <strong>Yearsdriving:</strong>
  <%= @insurance_detail.yearsdriving %>
</p>

<p>
  <strong>Packing:</strong>
  <%= @insurance_detail.packing %>
</p>

<p>
  <strong>Homeowner:</strong>
  <%= @insurance_detail.homeowner %>
</p>

<p>
  <strong>Kmperyear:</strong>
  <%= @insurance_detail.kmperyear %>
</p>

<p>
  <strong>User:</strong>
  <%= @insurance_detail.user_id %>
</p>

<%= link_to 'Edit', edit_insurance_detail_path(@insurance_detail) %> |
<%= link_to 'Back', insurance_details_path %>
