<p>
  <strong>ProfilePicture</strong>
  <%= image_tag @profile.avatar.url(:medium) %>
</p>
<p>
  <strong>Title:</strong>
  <%= @profile.title %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @profile.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @profile.lastname %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @profile.dateofbirth %>
</p>

<p>
  <strong>Martialstatus:</strong>
  <%= @profile.martialstatus %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @profile.phonenumber %>
</p>

<p>
  <strong>Employmentstatus:</strong>
  <%= @profile.employmentstatus %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
