<div class="row">
  <div class="col-xs-3">
    <div class="default panel-default">
      <div class="panel-body">

        <br><br><br>
        <h4> Fully Comprehensive Premium  </h4>
        <p>Monthly charges</p><%= @premium.round(2) %>
        
        <h4> Deposit </h3>
        <%= @install.round(2) %> 
        
        <h4> Full Installment  </h4>
        <%= @fully.round(2) %>
      </div>
    </div>
  </div>
  
  
  <div class="col-xs-6">
    <div class="default panel-default">
      <div class="panel-body">
      <h4> Your personal details  </h4>
       <p><%= current_user.firstname %> <%= current_user.lastname %></p>
       <p><%= current_user.insurance_detail.licensenumber %></p>
       <p><%= current_user.phonenumber %></p>
       <p><%= current_user.address %></p>
       <p><%= current_user.employmentstatus %></p>
        
      </div>
    </div>
  </div>
  
  <div class="col-xs-3">
    <div class="default panel-default">
      <div class="panel-body">
      <h4> New Vehicle details  </h4>
       <p><%= @vehicle.make %></p>
        <p><%= @vehicle.model %></p>
       <p><%= @vehicle.year %></p>
       <p><%= @vehicle.fueltype %></p>
       <p><%= @vehicle.price %></p>
        
      </div>
    </div>
  </div>
  
</div>