<h1> Search Results </h1>

<p><%= link_to 'Back', new_search_path %> </p>

<% if @search.search_vehicles.empty? %>
  <p>Sorry No Vehicles Records Found</p>
  
  <% else %>
  
   <% @search.search_vehicles.each do |s| %>
     <br>
     

       <div class="col-sm-6">
          <div class="col-sm-3">
            <%= image_tag(s.image.url(:medium)) %>
            <h3><p><%= s.make %></p></h3>
          </div>
       <p>Model: <%= s.model %></p>
       <p>Price: <%= s.price %></p>
       <p>Year: <%= s.year %></p>
       <p>Fueltype: <%= s.fueltype %></p>
       <p>Bodytype: <%= s.bodytype %></p>
       <p>Transmission: <%= s.transmission %></p>

     </div>
     
  <% end %>
  
<% end %>

