<%= form_for @vehicle, html: { multipart: true, class: 'form-horizontal'  } do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :image, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-2">
      <%= f.file_field :image %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Make*:", class: 'col-sm-2 control-label'  %>
    <div class="col-sm-2">
      <%= f.select :make, ['Acura', 'Alfa Romeo', 'Aston Martin', 'Audi', 'Bentley', 'BMW', 
            'Cadillac', ' Chevrolet', 'Citroen', 'Dodge', 'Ferrari', 'Fiat', 'Ford', 'General Motors',
            'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Kia', 'Land Rover', 'Lexus', 'Mazda', 'Mercedes Benz',
            'Mini', 'Mitsubishi', 'Nissan', 'Opel', 'Peugeot', 'Renault', 'Saab', 'Subaru', 'Suzuki', 'Toyota',
            'Volkswagen', 'Volvo'], class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label "Model *:", class: 'col-sm-2 control-label'  %>
    <div class="col-sm-2">
      <%= f.text_field :model, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label "Car Year *:", class: 'col-sm-2 control-label'  %>
    <div class="col-sm-2">
      <%= f.date_select :year, :start_year => 1950, 
          :end_year => Date.current.year, :discard_month => true, 
          :discard_day => true, :include_blank => true, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label "Engine Size :", class: 'col-sm-2 control-label'  %>
    <div class="col-sm-2">
      <%= f.select :enginesize, ['1.0','1.2','1.4','1.6','1.8',
            '2.0','2.2','2.4','2.6','2.8','3.0','3.2','3.4','3.6','3.8',
            '4.0','4.2','4.4','4.6','4.8','5.0','5.2','5.4','5.6','5.8',
            '6.0','7.2','7.4','7.6','7.8','8.0'], class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label "Cupic Capacity :", class: 'col-sm-2 control-label'  %>
    <div class="col-sm-2">
      <%= f.select :cupiccapacity, ['2','4','5','8','9','12','20'], class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label "Price *:", class: 'col-sm-2 control-label'  %>
    <div class="col-sm-2">
      <%= f.text_field :price, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label "Body Type :", class: 'col-sm-2 control-label'  %>
    <div class="col-sm-2">
      <%= f.select :bodytype, ['Sedan','Coupe','Convertible','Minivan','Truck','SUV',
      'Collector','Ecofriendly','Pickup','Wagon','Hatchback','Van','Offroad'], class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label "Fuel Type :", class: 'col-sm-2 control-label'  %>
    <div class="col-sm-2">
      <%= f.select :fueltype, ['Petrol','Diesel','Electric','Hybrid'], class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label "Milleage :", class: 'col-sm-2 control-label'  %>
    <div class="col-sm-2">
      <%= f.number_field :milleage, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label "Transmission :", class: 'col-sm-2 control-label'  %>
    <div class="col-sm-2">
      <%= f.select :transmission, ['Manual','Automatic'], class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label "Tax Due Date :", class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.date_select :taxdue, :start_year => 2013, :end_year => 2020,
            :discard_day => true, :include_blank => true, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label "Nct Due Date ", class: 'col-sm-2 control-label'  %>
    <div class="col-sm-2">
      <%= f.date_select :nctdue, :start_year => 2012, :end_year => 2018, 
          :discard_day => true, :include_blank => true, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label "* Platenumber :", class: 'col-sm-2 control-label'  %>
    <div class="col-sm-2">
      <%= f.text_field :platenumber, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label "Description :", class: 'col-sm-2 control-label'  %>
      <div class="col-sm-2">
      <%= f.text_area :description, rows: 5, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <h3>Vehicle Image Upload</h3>
    <%= f.fields_for :assets do |asset_fields| %>
    
      <% if asset_fields.object.new_record? %>
        <p>
          <%= asset_fields.file_field :image %>
        </p>
      <% end %>
    <% end %>
  </div>
  
  <div class="form-group">
    <h4>Vehicle Image</h4>
    <%= f.fields_for :assets do |asset_fields| %>
    
      <% unless asset_fields.object.new_record? %>
        <%= link_to image_tag(asset_fields.object.image.url(:thumb)) %>
                    <%= asset_fields.check_box :_destroy %>
      <% end %>
    <% end %>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit "Advertise Vehicle", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

