<p>
  <h3>Advertise Your Vehicle</h3>
  <hr/>
</p>
<%= form_for @vehicle, html: { multipart: true, method: :put, class: 'form-horizontal'  } do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="form-group">
    <%= f.label :image, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-4">
      <%= f.file_field :image %>
    </div>
  </div>
  

  <div class="form-group">
    <%= f.label :make, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
      <%= f.text_field :make, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :model, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
      <%= f.text_field :model, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :year, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-2">
      <%= f.date_select :year, :start_year => 1970, 
          :end_year => Date.current.year, :discard_month => true, 
          :discard_day => true, :include_blank => true, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :enginesize, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
      <%= f.text_field :enginesize, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :cupiccapacity, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
      <%= f.number_field :cupiccapacity, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :price, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
      <%= f.text_field :price, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :bodytype, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
      <%= f.text_field :bodytype, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :fueltype, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
      <%= f.text_field :fueltype, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :milleage, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
      <%= f.number_field :milleage, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :transmission, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
      <%= f.text_field :transmission, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :taxdue, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.date_select :taxdue, :start_year => 2013, :end_year => 2020,
            :discard_day => true, :include_blank => true, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :nctdue, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-2">
      <%= f.date_select :nctdue, :start_year => 2012, :end_year => 2018, 
          :discard_day => true, :include_blank => true, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :platenumber, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
      <%= f.text_field :platenumber, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :description, class: 'col-sm-2 control-label'  %>
      <div class="col-sm-6">
      <%= f.text_area :description, rows: 5, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="form-group">
    <h3>Vehicle Image Upload</h3>
    <%= f.fields_for :assets do |asset_fields| %>
    
      <% if asset_fields.object.new_record? %>
        <p>
          <%= asset_fields.file_field :image %>
        </p>
      <% end %>
    <% end %>
  </div>
  
  <div class="form-group">
    <h4>Vehicle Image</h4>
    <%= f.fields_for :assets do |asset_fields| %>
    
      <% unless asset_fields.object.new_record? %>
        <%= link_to image_tag(asset_fields.object.image.url(:thumb)),
                    asset_fields.object.image.url(:original)%>
                    <%= asset_fields.check_box :_destroy %>
      <% end %>
    <% end %>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit "Advertise Vehicle", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

