<p id="notice"><%= notice %></p>

<h1>Listing Vehicles</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Enginesize</th>
      <th>Cupiccapacity</th>
      <th>Price</th>
      <th>Bodytype</th>
      <th>Fueltype</th>
      <th>Milleage</th>
      <th>Transmission</th>
      <th>Taxdue</th>
      <th>Nctdue</th>
      <th>Platenumber</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.description %></td>
        <td><%= vehicle.make %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.enginesize %></td>
        <td><%= vehicle.cupiccapacity %></td>
        <td><%= vehicle.price %></td>
        <td><%= vehicle.bodytype %></td>
        <td><%= vehicle.fueltype %></td>
        <td><%= vehicle.milleage %></td>
        <td><%= vehicle.transmission %></td>
        <td><%= vehicle.taxdue %></td>
        <td><%= vehicle.nctdue %></td>
        <td><%= vehicle.platenumber %></td>
        <td><%= vehicle.user_id %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
