<%= will_paginate @vehicle_paginator %>

<p><%= link_to "Advance Search", new_search_path, class: "btn btn-danger"%></p>
<% @vehicles.each do |vehicle| %>
  <div class="row">
    <div class="col-xs-6 col-md-4 ">
      <div class="thumbnail">

        <h4>Seller:<%= vehicle.user.firstname %> &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp Price <span class="label label-info"> <%= vehicle.price %></span></h4>
        <%= image_tag vehicle.image.url(:medium), size: "250x300" %>
        
        <h3><%= link_to vehicle.platenumber, vehicle_path(vehicle) %></h3>
        <div class="caption">
          <h4>Key Info : <small><%= vehicle.make %> > <%= vehicle.model %></small></h4>
          <h4>Year : <small><%= vehicle.year.year %></small></h4>
          <p>
            <a href="#" class="btn btn-default" role="button">Button</a>
          </p>
          <p>
            <span class='quiet'><small> created: <%= time_ago_in_words(vehicle.created_at)%> ago, </small></span>
            <span class='quiet'><small> updated: <%= time_ago_in_words(vehicle.updated_at)%> ago</small></span>

          </p>
          <div class="pull-right">
            <%= link_to like_vehicle_path(vehicle, like: true), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= vehicle.thumbs_up_total %>
            <% end %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <%= link_to like_vehicle_path(vehicle, like: false), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= vehicle.thumbs_down_total %>
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
  
<% end %>

<% if !user_signed_in? %>

  <div class="jumbotron">
    <h1>Listing Vehicles</h1>
    <h1>Your Favorite Cars Posts</h1>
    <p>This is some note to see if bootstrap works</p>
    <p><%= link_to "Sign Up to Post A Comment", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
  </div>
<% end %>
</div>
<hr/>
<%= will_paginate %>