
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <% if user_signed_in? and @vehicle.user == current_user %>
          <%= link_to 'Edit this vehicle', edit_vehicle_path(@vehicle) %>
        <% end %>
        <h4>Seller :&nbsp<%= @vehicle.user.firstname %> &nbsp&nbsp&nbsp 
        Price <span class="label label-info"> <%= @vehicle.price %></span></h4>
       
        <%= image_tag @vehicle.image.url(:medium) %>
        <div class="col-sm-4 row-sm-5">
        <ul>
          
        </ul>
        </div>
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
          <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
            <head>
           <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
           <title>JavaScript</title>
           <style>
          
               #h3style {
                   color: gray;
               }
           </style>
            </head>
            <div="pic_mut">
        <%= @vehicle.assets.size %>
          <% for asset in @vehicle.assets %>
            <%=link_to image_tag (asset.image.url(:thumb)), size: "60x80"%>
          <% end %>
          
          
         <body onResize="changeImage();" onLoad="alert('Website Loaded');">
          <script language="javascript" type="text/javascript">
          if(document.getElementById("asset")) {
            //Do something...
              }
              $(document.body).on('click',function(e){
                if(!$(e.target).closest('#main-space').length){
                    $('#main-space').hide();
                }
            });
           function alertme()
           {
             alertmsg = document.asset.src + "\nHeight: " + document.asset.height + "\nWidth: " + document.asset.width;
             alert(alertmsg);
             return true;
           }
               </script>
               <noscript>
               <h3>This site requires JavaScript</h3>
              </noscript>

               </div>
        </body>
      </html>
        
        <div class="pull-right">
          <%= link_to like_vehicle_path(@vehicle, like: true), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= @vehicle.thumbs_up_total %>
          <% end %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <%= link_to like_vehicle_path(@vehicle, like: false), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= @vehicle.thumbs_down_total %>
          <% end %>
        </div>
      
          <div class="table-reponsive">
            <table class="table">
              <tbody>
                <tr>
                  <h3><small>Key Info :<b><%= @vehicle.make %> > <%= @vehicle.model %>, <%= @vehicle.year.year %></b></small></h3>
                </tr>
                <tr>
                  <td><small>ENGINE SIZE:</small></td>
                  <td><b><%= @vehicle.enginesize %></b>litre</td>
                  <td><small>CUPIC CAPACITY:</small></td>
                  <td><b><%= @vehicle.cupiccapacity %></b></td>
                </tr>
                <tr>
                  <td><small>BODY TYPE:</small></td>
                  <td><b><%= @vehicle.bodytype %></b></td>
                   <td><small>FUEL TYPE:</small></td>
                  <td><b><%= @vehicle.fueltype %></b></td>
                </tr>
                <tr>
                  <td><small>MILLEAGE:</small></td>
                  <td><b><%= @vehicle.milleage %></b>KM</td>
                  <td><small>TRANSMISSION:</small></td>
                  <td><b><%= @vehicle.transmission %></b></td>
                </tr>
                <tr>
                  <td><small>NCT EXPIRY:</small></td>
                  <td><b><%= @vehicle.nctdue %></b></td>
                  <td><small>ROAD TAX:</small></td>
                  <td><b><%= @vehicle.taxdue %></b></td>
                </tr>
              </tbody>
            </table>
            <hr/>
            <h4><strong>DESCRIPTION:</strong></h4>
            <h3><%= simple_format(@vehicle.description) %></h3>
            <h3><%= @vehicle.make_level %></h3>
            <h3><%= @vehicle.car_old %></h3>
            <h3><%= @vehicle.car_engine %></h3>
            <h3><%= @vehicle.check_price %></h3>
            <h3><%= @vehicle.cal_premium(@vehicle) %></h3>

          </div>
      </div>
      
      <div class="col-sm-6 pull-right center">
        <h2 class="post_title"><%= link_to "Post A Comment or Place an Offer", 
              new_vehicle_post_path(@vehicle), class: "btn btn-danger" %></h2>
          
        <% if @posts.blank? %>
          <h3>No Comment just yet, Would you like to add the first Post</h3>
          <%= link_to "Post Comment", new_vehicle_post_path(@vehicle), class: "btn btn-danger" %>
        <% else %>
          <%@posts.each do |post| %>
          <div class="row">
            <div class="col-md-3 ">
              <section class="gravatar-panel">
                <%= gravatar_for post.user, size: 80 %>
                <p>
                  <i><small>Commenter: <%= post.user.email %></small></i>
                </p>
              </section>
            </div>
              <div class="col-sm-9 well">
                <p><h5><%= simple_format(post.message) %></h5></p>
                <p><i>
                  <span class='quiet'><small> <%= time_ago_in_words(post.created_at)%> ago</small></span>
                </i></p>
              </div>
              <hr/>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
