<!DOCTYPE html>
<html>
<head>
  <title>MotorApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/flash_messages' %>
  <%= render 'layouts/menu' %>

    <%= yield %>
  </div>
  
</body>
</html>